* {
    /*font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;*/
    margin: 0;
    padding: 0;
    color: #333;
    outline: none;
    font-family: system-ui, sans-serif;

}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.ref{
    text-decoration: underline;
}

.special_font{
    font-family: Georgia, serif;
}

.big{
    font-size: large;
    color: #8B6BA5;
    font-weight: bold;
}
    /* ---------- Header ----------*/
#header_out_wrapper{
    /*border-bottom: solid 1px #666;*/
    /*border-top: #333 0px solid;*/
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    height: 50px;

}
#header_wrapper {
    max-width: 1000px;
    margin: auto;

    /*display: grid;*/
    /*grid-template-columns: 3fr 1fr 3fr;*/
    /*align-items: center;*/
    /*grid-auto-rows: 50px;*/
    padding: 0px 5px;
    /*background: #83d0f2;*/
}

#header_left {
    /*margin-left: 20px;*/
    display: flex;
    justify-self: start;
    float: left;
    margin-top: 12px;
}

#header_middle {
    justify-self: center;
    float: left;
    position: absolute;
    left: 47%;
    margin-top: 10px;

}

#header_right {
    /*margin-right: 20px;*/
    justify-self: end;
    float: right;
    margin-top: 12px;

}

.logo_big_title {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 29px;
    margin-right: 3px;
    letter-spacing:2px;
    /*color: #333;*/
}

.logo_little_text {
    font-family: system-ui, sans-serif;

    /*font-family: CourierNewPS-BoldMT, STFangsong;*/
    font-size: 10px;
    /*color: #CCC;*/
    margin-left: 10px;
}

#header_little_comment {
    margin-top: 10px;
}

.sparse{
    letter-spacing:2px;
}

#header_logo_img {
    width: 32px;
}

.nav_item {
    margin-left: 20px;
}

.link_btn{
    /*border: 1px #333 solid;*/
    padding: 3px 0px;
    cursor: pointer;
}

.link_btn:hover{
    border-bottom: 3px solid #333;
}

.link_btn:active{
    border-bottom: 3px solid #000;
    color: #000;
}

.btn-primary{
    cursor: pointer;
    border: 2px #333 solid;
    padding: 5px 9px;
}

.btn-primary:hover{
    background: #333;
    color: #FFF;

}

.btn-primary:active{
    background: #000;
    color: #FFF;
    border: 2px #000 solid;
}


.link_a{
    text-decoration: underline;
}

.little_comment{
    color: #999;
    font-size:small;
}


/* main */
.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.chart_header_comment_item{
    font-size:12px;
    /*color: #999;*/
}

#main_header{
    border-bottom: 1px solid #CCC;

}

#main{
    max-width: 900px;
    margin:  auto;
}


.segment{
    /*display: grid;*/
    /*grid-template-columns: 1fr 8fr;*/
}

.heading{
    font-size: 36px;
    margin: 30px 0px;
}

.changes{
    font-size: 14px;
}
/*  left  */
.left{
    text-align: right;
    padding-right: 20px;
    float: left;
    width: 15%;
}

.release_wrapper{
    margin-top: 30px;
}

.release_type{
    border: 1px solid #333;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 14px;

}
.release{
    border-color: #0366d6;
    color: #0366d6;
}

.testing{
    border-color: #f66a0a;
    color: #f66a0a;
}

.date{
    margin-top:20px;
    color: #586069;
    font-size: 14px;
}

/* right */
.right{
    border-left: 1px solid #CCC;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 50px;
    float: right;
    width: 80%;

}

.right_head{
    font-size: 20px;
    margin: 25px 0px;
}
.version{
    color: #0366d6;
    font-size: 30px;
}

.download_line{
    margin: 5px 0px;
}

.download_link{
    color: #0366d6;

}

.download_link:hover{
    text-decoration: underline;
}

.size{
    float: right;
    font-size: 14px;
    color: #586069;
}

.iconfont{
    margin-right: 3px;
}

#before_foot{
    clear: both;
    height: 80px;
}

/* foot */
#foot {
    text-align: center;
    /*border-top: 2px solid #8B6BA5;*/
    padding: 0px;
    background: #8B6BA5;
    color: #FFFFFF;
}

#foot>a{
    color: #FFFFFF;
    font-size: small;
    margin: 0px 5px;
    letter-spacing: 1px;
}


/* mobile */

/* MEDIA QUERIES */
@media(max-width:600px){
    #leading{
        display: block;
    }
    .logo_little_text{
        display: none;
    }

    #ad_shelf{
        display: none;
    }

    #app{
        margin-top: 10px;
        width: 96%;
    }

    #case_2{
        background-size: 400px;
    }
}
